div.shinbakaz {
	
	.sosia {
		
		text-align: right;
		
		a {
			padding: 0px 5px
		}
		
		a i {
			font-size: 18px
		}
		
		.fa-vk {
			color: #337ab7
		}

		.fa-facebook-square {
			color: #3b5998
		}

		.fa-twitter-square {
			color: #2fc2ef
		}

		.fa-google-plus-square {
			color: #df5138
		}
	}

	table.bagahe {
		width: 100%;
		text-align: center;
		border-collapse: collapse;
	}

	table.bagahe {

		a {
			color: gray
		}

		a:hover {
			color: inherit
		}

		td {
			padding: 20px 10px
		}

		td:nth-child(odd) {
			width: 30%
		}

		td:nth-child(even) {
			width: 70%
		}

		.headin, .headin2 {
			font-weight: 700;
			font-size: 26px;
			position: relative;
			color: gray;
			transition-duration: 0.7s;
			background: none;
			border: none;
		}
		
		.headin:hover {
			color: #00b0ff;
			transition-duration: 0.7s;
		}

		.headin::before {
			content: "";
			width: 80px;
			height: 4px;
			background: #00b0ff;
			position: absolute;
			left: 0;
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);
			transition-duration: 1s;
		}
		
		.headin:hover::before {
			width: 20px;
			background: gray;
			transition-duration: 1s;
		}

	}

}
