div.shinbakaz {
	
	.sosia {
		
		text-align: right;
		
		a {
			padding: 0px 5px
		}
		
		a i {
			font-size: 18px
		}
		
		.fa-vk {
			color: #337ab7
		}

		.fa-facebook-square {
			color: #3b5998
		}

		.fa-twitter-square {
			color: #2fc2ef
		}

		.fa-google-plus-square {
			color: #df5138
		}
	}

	table.bagahe {
		width: 100%;
		text-align: center;
		border-collapse: collapse;
	}

	table.bagahe {

		a {
			color: gray
		}

		a:hover {
			color: inherit
		}

		td {
			padding: 20px 10px
		}

		.headin, .headin2 {
			font-weight: 700;
			font-size: 26px;
			position: relative;
			color: gray;
			transition-duration: 0.7s;
			background: none;
			border: none;
		}
		
		.headin:focus {
			outline:none
		}
		
		.headin:hover, .bi4 {
			color: #00b0ff;
			transition-duration: 0.7s;
		}

		.headin::before {
			content: "";
			width: 80px;
			height: 4px;
			background: #00b0ff;
			position: absolute;
			left: 0;
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);
			transition-duration: 1s;
		}
		
		.headin:hover::before, .bi4::before {
			width: 20px;
			background: gray;
			transition-duration: 1s;
		}
		
		.gege {
			display: inline-block;
			text-align: left;
		}
		
		.gege span {
			border-radius: 50%;
			background: white;
			padding: 5px;
			margin-right: 5px;
		}
		
		.bagarulez {
			background-color: #d9edf7;
			border-color: #bce8f1;
			color: #31708f;
			padding: 15px;
			border: 1px solid transparent;
			border-radius: 0;
		}
		
		.bleft {
			float: left;
			margin-left: 20%;
		}
		
		.bright {
			float: right;
			margin-right: 20%;
		}
		
		.poiskbutt {
		    background: #2980B9;
		    border: 0;
		    color: #fff;
		    padding: 8px 15px;
		    border-radius: 0 2px 2px 0;
		}
		
		.poiskbox {
		    border: 1px solid #303030;
		    border-right: none;
		    padding: 5px 0px;
		    width: 70%;
		    border-radius: 2px 0 0 2px;
		    font-style: italic;
		    margin-right: -5px;
		    text-align: center;
		}
		
		form, input {
			margin: 0	
		}

	}

}
