div.shinbakaz {

	table.bagahe {
		width: 100%;
		text-align: center;
		border-collapse: collapse;
	}

	table.bagahe {

		caption a {
			padding: 0px 5px
		}

		caption a i {
			font-size: 18px
		}

		.fa-facebook-square {
		    color: #3b5998
		}

		.fa-twitter-square {
		    color: #2fc2ef
		}

		.fa-google-plus-square {
		    color: #df5138
		}
		
		td:nth-child(odd), tr:nth-child(odd) a {
			color: #c51b1e;
			text-transform: uppercase;
		}

		td:nth-child(even) {
			color: white
		}
		
		td a:hover {
			color: inherit;
		}

	}

}
